# $Id$
# classification.config taken from Snort 2.8.5.3. Snort is governed by the GPLv2
#
# The following includes information for prioritizing rules
#
# Each classification includes a shortname, a description, and a default
# priority for that classification.
#
# This allows alerts to be classified and prioritized.  You can specify
# what priority each classification has.  Any rule can override the default
# priority for that rule.
#
# Here are a few example rules:
#
#   alert TCP any any -> any 80 (msg: "EXPLOIT ntpdx overflow";
#	dsize: > 128; classtype:attempted-admin; priority:10;
#
#   alert TCP any any -> any 25 (msg:"SMTP expn root"; flags:A+; \
#	      content:"expn root"; nocase; classtype:attempted-recon;)
#
# The first rule will set its type to "attempted-admin" and override
# the default priority for that type to 10.
#
# The second rule set its type to "attempted-recon" and set its
# priority to the default for that type.
#

#
# config classification:shortname,short description,priority
#
#server
config classification: dos,DoS,3
config classification: scan,Scan,2
config classification: protocol,Protocol,1
config classification: http,http,3
config classification: dbms,dbms,3
config classification: mail,mail,2
config classification: ftp,ftp,2
config classification: dns,dns,2
config classification: terminal,terminal,2
config classification: misc,misc,1
#client
config classification: exploit,exploit,3
config classification: malware,malware,3
config classification: malurl,malurl,2
config classification: file,file,1
#application
config classification: p2p,p2p,3
config classification: msg,massenger traffic,2
config classification: webmail,webmail,2
config classification: sns,sns,1
#network
config classification: network,network,1
config classification: ips,IPS,3 

#original
config classification: not-suspicious,Not Suspicious Traffic,3
config classification: unknown,Unknown Traffic,3
config classification: bad-unknown,Potentially Bad Traffic, 2
config classification: attempted-recon,Attempted Information Leak,2
config classification: successful-recon-limited,Information Leak,2
config classification: successful-recon-largescale,successful-recon-largescale,2
config classification: attempted-dos,Attempted Denial of Service,2
config classification: successful-dos,Denial of Service,2
config classification: attempted-user,Attempted User Privilege Gain,1
config classification: unsuccessful-user,unsuccessful-user,1
config classification: successful-user,Successful User Privilege Gain,1
config classification: attempted-admin,attempted-admin,1
config classification: successful-admin,successful-admin,1


# NEW CLASSIFICATIONS
config classification: rpc-portmap-decode,Decode of an RPC Query,2
config classification: shellcode-detect,Executable code was detected,1
config classification: string-detect,A suspicious string was detected,3
config classification: suspicious-filename-detect,suspicious-filename-detect,2
config classification: suspicious-login,suspicious-login,2
config classification: system-call-detect,A system call was detected,2
config classification: tcp-connection,A TCP connection was detected,4
config classification: trojan-activity,A Network Trojan was detected, 1
config classification: unusual-client-port-connection,unusual-client-port-connection,2
config classification: network-scan,Detection of a Network Scan,3
config classification: denial-of-service,Detection of a Denial of Service Attack,2
config classification: non-standard-protocol,non-standard-protocol,2
config classification: protocol-command-decode,Generic Protocol Command Decode,3
config classification: web-application-activity,web-application-activity,2
config classification: web-application-attack,Web Application Attack,1
config classification: misc-activity,Misc activity,3
config classification: misc-attack,Misc Attack,2
config classification: icmp-event,Generic ICMP event,3
config classification: kickass-porn,SCORE! Get the lotion!,1
config classification: policy-violation,policy-violationn,1
config classification: default-login-attempt,default-login-attempt,2

# Cyber Kill Chain
config classification: Reconnaissance,Reconnaissance,3
config classification: Weaponization,Weaponization,3
config classification: Attack,Delivery & Attack,2
config classification: Exploitation,Exploitation,2
config classification: Installation,Installation,1
config classification: CnC,Command and Contorol,1
config classification: Actions,Actions on objectives,1